.AppLogo {
    height: 30vmin;
    pointer-events: none;
    padding: 25px;;
  }

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-sway infinite 4s linear;
  }
}

.LandingArea {
  min-height: calc(100vh -  100px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


@keyframes App-logo-sway {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(10deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-10deg);}
}

.SignButton {
  position: relative;
  background: #DE5C6E;
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 20px 40px 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: 0.3s;
  width: 50%;

}

.SignButton:hover {
  background: #ec5267;
}

.Link {
  text-decoration: none;
  color :#ffffff

}

.TextBox {
  box-sizing: border-box;
  padding:  40px;
  background-color:#f8f9fa;
  border-radius:  20px;
  margin: auto;
  margin-bottom: 20px;
  max-width:  700px;
  text-align: center;
  display: block;
}

.ButtonContainer {
  margin-bottom:  60px;
}