.NavBar {
    background-color: #de5c6e;
    border: 1px solid #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }

.NavMenuLogo{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color:#FFDDCF;
    font-family: Bellota;
}

.NavMenuLogo img{
    height: 40px;
}


.NavLink {
    min-width: 100px;
    max-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    color:#FFDDCF;
    border-radius: 10px;
}

.NavLink:hover {
    transform: scale(1.05);
}

.NavLink i{
    font-size: 20px;
}

/*Mediaquery for screensizes wider than 400px*/
@media screen and (min-width: 400px) {
    .NavMenuLogo{
        width: 300px !important;
        font-size: 35px;
    }

    .NavMenuLogo img{
        height: 55px;
        padding: 0 10px 10px 0;
    }
  }
