.NavBar {
    background-color: #ffffff;
    border: 1px solid #F5F5F5;
    display: flex;
    justify-content: space-between !important;
    align-items: flex-end;
  }

.NavMenuLogo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.NavMenuLogo p{
    margin: 0;
}

.NavLinks i{
    padding: 5px;
}
