body {
  margin: 0;
  font-family: 'Cormorant Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: 'Cormorant Garamond', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  --bs-btn-active-bg: #FFA1AC;
  --bs-btn-active-border-color: #FFA1AC;
  --bs-btn-active-color: black;
}
